.wrapper {
  /* max-width: 1440px; */
  margin: 0 auto;
  background-color: var(--white-color);

  position: relative;
}

.content-width-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

main {
  /* Fixed header height  */
  padding-top: var(--header-height);
}

/* Button */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  padding: 8px 18px;

  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 7px;

  transition: all 0.25s linear;
}

.btn:hover.btn--primary,
.btn:hover.btn--primary a {
  color: var(--primary-fader-color);
  background-color: var(--black-color);
}

.btn.btn--primary {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;

  /* identical to box height */
  color: var(--black-color);
  background-color: var(--primary-fader-color);
}

/* #region Header */
#main-header {
  position: fixed;
  /* max-width: 1440px; */
  margin: 0 auto;

  width: 100%;
  height: var(--header-height);
  background: var(--primary-fader-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 100px;
  z-index: 1;
}

h1.header-heading {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;

  letter-spacing: 0.355em;

  color: #000000;
  text-align: center;
  
  transition: all 0.25s linear;
}

h1.header-heading:hover {
  animation: tilt-shaking 1s ease-in-out infinite;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.header-nav-list {
  display: flex;
  list-style: none;
  grid-gap: 0 14px;
}

.header-nav-list-item,
.header-nav-mobile-list-item {
  min-width: 100px;
}

.header-nav-mobile-list-item {
  padding: 16px 0;
}

.header-nav-list-item-link,
.header-nav-mobile-list-item-link {
  text-decoration: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}

.header-socials-media-wrapper {
  position: absolute;
  right: 37px;
  bottom: -350%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.header-socials-media-wrapper .header-line {
  width: 2px;
  min-height: 160px;
  background-color: var(--primary-fader-color);
}

.socials-media-list.flex-column {
  flex-direction: column !important;
  gap: 12px;
}

@media screen and (max-width: 480px) {
  .header-socials-media-wrapper {
    display: none;
  }
}
/* #endregion End Header */

/* #region Footer */
#main-footer {
  min-height: 174px;

  background-color: var(--primary-fader-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;

  padding: 0 100px;
}

h1.footer-heading {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 36px;

  letter-spacing: 0.355em;

  color: #000000;
  text-align: center;
}

.footer-detail {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.footer-content-wrapper h4 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.footer-content-wrapper p,
.footer-email-link {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #eff9f9;
}

.footer-email-link:hover {
  transition: all 0.5s ease;
  color: black;
}

.footer-copyright-wrapper > p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: #eff9f9;
}

/* Footer Socials Media */
.socials-media-wrapper {
  margin-top: 21px;
}

.socials-media-list {
  display: flex;
  align-items: center;
  list-style: none;

  gap: 0 11px;
}

.socials-media-list-item {
  width: 27px;
  height: 27px;
  background-color: var(--white-color);
  border-radius: 50%;

  transition: transform 0.25s linear;
}

.socials-media-list-item:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 800px) {
  #main-footer {
    flex-direction: column;
    justify-content: center;
    padding: 32px 0;
    gap: 16px;
  }
}
/* #endregion End Footer */

/* Hover */
.hoverable:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Common Class */
.text-center {
  text-align: center;
}

/* Animation border left to right */
.border-anim-left-to-right {
  position: relative;
}

.border-anim-left-to-right::after {
  position: absolute;
  left: 0;
  bottom: 6%;

  content: "";
  display: block;
  transition: all ease-in-out 0.5s;
  background-color: white;
  height: 5px;
  width: 0;
  z-index: -1;
}

.header-nav-mobile-list-item-link.border-anim-left-to-right::after {
  background-color: var(--primary-fader-color);
}

.border-anim-left-to-right:hover:after {
  width: 100%;
}

/* #region Hamburger Menu */

/* Hide input checkbox */
#menu__toggle {
  display: none;
  visibility: hidden;
}

/* If checkbox is checked -> transform hamburger to X */
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  top: 110%;
}

/* Hamburger button */
.hamburger-menu {
  /* Hide at default */
  display: none;
}

.menu__btn {
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;

  transform: translateY(-20%);
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: 10px;
}

.menu__btn > span::after {
  content: "";
  top: 20px;
}

.menu__box {
  display: block;

  position: absolute;
  top: -500%;
  right: 2%;

  width: 250px;
  height: auto;

  margin: 0;
  padding: 16px 32px;

  list-style: none;
  border-radius: 15px;

  background-color: #EFF9F9;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 2;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.5s;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

.menu__box-heading {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 82%;

  letter-spacing: 0.095em;

  color: var(--primary-fader-color);
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}

@media screen and (max-width: 700px) {
  .hamburger-menu {
    /* Hide at default */
    display: block;
  }

  .header-nav {
    display: none;
  }
}
/* #endregion end hamburger menu */

/* #region Zoom */
figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
}

figure.zoom img:hover {
  opacity: 0;
}

figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
/* #endregion zoom */