/* #region Project Overview */
.project-overview-image-wrapper {
  max-width: 1240px;
  height: 524px;

  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 33px;

  border-radius: 15px;
}

.project-overview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 15px;
}

.project-overview-header-wrapper {
  margin: 0 auto;
  /* max-width: 618px; */
  padding: 0 16px;

  position: relative;
  background-color: transparent;
}

.project-overview-heading {
  font-family: "Fredericka the Great";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 58px;

  text-align: center;
  letter-spacing: 0.06em;

  background-color: transparent;
  /* black */
  color: var(--black-color);
}

.project-overview-graphic-design-wrapper {
  margin-top: 16px;
}

h3.graphic-design-heading {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #86cac9;
}

h2.graphic-design-heading {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #86cac9;

  margin-bottom: 16px;
}

.graphic-design-detail-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-wrap: wrap;

  gap: 16px 80px;

  padding: 0 100px;
  margin-top: 70px;
}

.graphic-design-item {
  text-align: center;
  width: 250px;
}

.graphic-design-content {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  text-align: center;

  color: #000000;
}

.project-overview-wrapper {
  margin-top: 90px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

  max-width: 1240px;
  /* text-align: center; */

  padding: 0 32px;
}

.project-overview-content-heading {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #000000;

  margin-bottom: 32px;

  text-align: center;
}
.project-overview-content {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;

  color: #000000;

  margin-bottom: 16px;
}

/* #endregion End Project Overview */

/* #region Content */
.section-header {
  min-height: 151px;
  background: rgba(134, 202, 201, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 62px 0;
}

.section-header .section-index {
  font-family: "Fredericka the Great";
  font-style: normal;
  font-weight: 400;
  font-size: 148px;
  line-height: 181px;
  color: rgba(0, 0, 0, 0.4);

  margin-right: 26px;
}

.section-header .section-heading {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;

  color: var(--black-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  text-align: center;
}

.section-content {
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.section-content-heading-wrapper {
  margin-bottom: 40px;
  text-align: center;
}

.section-content-heading-wrapper h4.section-content-heading {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #86cac9;
}

.section-content-wrapper p.p-section-content {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;

  color: #000000;
}

.section-content-heading-wrapper.section-heading-margin,
.section-content-img-wrapper,
.section-content-wrapper {
  margin-bottom: 45px;
}

.section-content-img-wrapper {
  border-radius: 15px;
  overflow: hidden;
}
.section-content-img-wrapper img {
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
}

/* #endregion Content */

/* #region Section Navigation */
.section-navigation-wrapper {
  text-align: center;
}

.navigation-button-group {
  margin: 0 auto;
  display: inline-block;
}

a.navigation-button-link > button {
  color: white !important;
}

a.navigation-button-link + a.navigation-button-link {
  margin-left: 128px;
}

.navigation-content-group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 100px;
  margin-bottom: 8px;
}

.navigation-content-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}
.navigation-content-icon {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.navigation-content {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;

  color: #000000;

  z-index: 1;
  pointer-events: none;
}

.navigation-content.border-anim-left-to-right::after {
  background-color: black;
  height: 1px;
}

@media screen and (max-width: 1000px) {
  .navigation-content-group {
    padding: 0 32px;
    margin: 16px;
  }
}

/* #endregion Section Navigation */

@media screen and (max-width: 1440px) {
  .project-overview-image-wrapper {
    padding: 0 32px;
  }
}

@media screen and (max-width: 700px) {
  .section-content {
    padding: 0 32px;
  }
}
